<form action="/sales/items" method="POST">
    {% csrf_token %}
    <input id="search_box" type="text" name="search_box" placeholder="Search">
    <input id="search_box" type="number" name="search_box" placeholder="Search">
    <input type="Submit"> </input>
</form>
<table class="table"style="max-height: 300px; height: 300px">
	<tr>
		<th> ID </th>
		<th> Name </th>
		<th> Amount </th>
		<th> Price </th>
		<th> Total </th>
	</tr>
	{%for p in BoughtParameters%}
	<tr>
		<td> {{p.id}} </td>
		<td>{{p.name}} </td>
		<td>{{p.unit}} </td>
	</tr>
	{%endfor%}
</table>