<!-- <form action="/sales/items" method="POST">
    <input id="search_box" type="text" name="search_box" placeholder="Search by name...">
    <input id="search_box" type="number" name="search_box" placeholder="Search by ID...">
    <input type="submit"> </input> 
</form>
-->
<table class="table"style="max-height: 50%">
	<tr>
		<th> ID </th>
		<th> Name </th>
		<th> Amount </th>
		<th> Price </th>
		<th> Total </th>
		<th>   </th>
		<th>   </th>
	</tr>
	{%for i in ItemsParameter%}
	<tr>
		<td> {{i.product_id.id}} </td>
		<td>{{i.product_id.name}} </td>
		<td>{{i.quantity}}</td>
		<td>{{i.product_id.unit_cost}} </td>
		<td>{{i.total}}</td>
		<td><a href="{{i.id}}/edit/">Edit</a></td>
		<td><a href="{{i.id}}/delete/">Delete</a></td>
	</tr>
	{%endfor%}
</table>