<form action="/sales/items" method="POST">
    {% csrf_token %}
    <input id="search_box" type="text" name="search_box" placeholder="Search">
    <input id="search_box" type="number" name="search_box" placeholder="Search">
    <input type="submit"> </input>
</form>
<table class="table">
	<tr>
		<th> ID </th>
		<th> Name </th>
		<th> Amount </th>
		<th> Price </th>
		<th> Total </th>
	</tr>
	{%for i in ItemsParameter%}
		<td>{{i.product_id.id}}</td>
	    <td>{{i.product_id}}</td>
	    <td>{{i.quantity}}</td>
	    <td>{{i.product_id.unit_price}}
	    <td>{{i.total}}</td>
	    <td><a href="{{i.id}}/edit/">Edit</a></td>
	    <td><a href="{{i.id}}/delete/">Delete</a></td>
	</tr>
	{%endfor%}
</table>