{% extends "base.html" %}

{% block title %} Station {% endblock title %}

{% block content %}
<div class="container">
	<!-- -->
	<div class="row">
		<h1 class="text-center">Sales<h1>
	</div>
	<div class="row">
		<div class="col-md-6"><h3>Sale ID: <small>{{sales}}</small></h3></div>
	</div>
	<div class="row">
		<div class="col-md-6"><h3>Date: <small>{{date}}</small></h3></div>
	</div> 
	<div class="row">
		<div class="col-md-9" > {% include "items.html" %}</div>
		<div class="col-md-3"> {% include "search.html" with results=results only%}</div> 
	</div>
	<div class="row">
		<div class="col-md-9"> <a href="/salesSimulation/create" class="btn btn-info" role="button">Add Product</a></div>
	</div>
	<div class="row">
		<div class="col-md-offset-3 col-md-4">
			<h3> Subtotal: <small>{{subtotal}}</small> </h3>
			<h3> Tax: <small>{{tax}}</small></h3>
			<h3> Total: <small>{{total}}</small></h3>
		</div>
		<div class="col-md-4">
			<h3> Payment </h3>
			<h3> Change </h3>
		</div> 
	</div>
</div>
{% endblock content %}